<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <title>ToDo List</title>
</head>

<body ng-app='toDoModule'>
    <div class="container" ng-controller='toDoController'>
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-md-4">
                <div class="text-center listStyles">
                    <h1 class="text-center">ToDo List</h1>
                    <br>
                    <h4>Search List</h4>
                    <input class='form-control' type="text" ng-model='searchList' />
                    <br>
                    <h4>Add Items</h4>
                    <div class="input-group">
                        <input id="inputID" class='form-control' type="text" ng-model='toDoItem' />
                        <span class="input-group-btn button Styles"><button id='btnID' class="btn btn-primary buttonStyles" ng-click='addItem()'>Add</button></span>
                    </div>
                    <br>
                    <ul>
                        <li ng-repeat='i in list | filter: searchList'><button type='radio' ng-click='removeItem(i)'></button>{{i}}</span></li>
                    </ul>



                    <br>
                    <br>
                    <br>
                </div>
            </div>
            <div class="col-sm-4"></div>
        </div>
    </div>

    </div>
</body>
<script src='js/angular.min.js'></script>
<script src='js/bootstrap.min.js'></script>
<script src='js/jquery-2.2.4.min.js'></script>
<script src='js/script.js'></script>

</html>
